#QR-wrapper{
    margin-top: 20px;
}
.image-canvas-wrapper{
    display: flex;
    justify-content: center;
}
.image-canvas-border{
    background-image: url("../img/qrcode.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#QR-msg{
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}
.button-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    display: inline-block;
    font-size: 220px;
    border-radius: 20px;
    width: 270px;
    height: 270px;
    line-height: 220px;
    vertical-align: middle;
}
.entry-button{
    color: #7F0000;
    border: 20px solid #7F0000;
    margin-right: 20px;
}
.exit-button{
    color: #00007F;
    border: 20px solid #00007F;
    margin-left: 20px;
}